name: CI Pipeline - Build Stage

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  RunMake:
    runs-on: ubuntu-22.04
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Install build dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential g++ make
      
      - name: Build program
        working-directory: ./src
        run: |
          make bin
          make install  # Создает директорию ../usr/bin и копирует туда файл
      
      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: built-program
          path: usr/bin/hello  # Путь относительно корня проекта
          retention-days: 1

  RunTest:
    needs: RunMake
    runs-on: ubuntu-22.04
    
    steps:
      - uses: actions/checkout@v4
      
      - uses: actions/download-artifact@v4
        with:
          name: built-program
          path: ./usr/bin  # Скачиваем прямо в usr/bin
      
      - run: chmod +x ./usr/bin/hello
      
      - name: Compile and run tests
        run: |
          make -C ./cicd

  RunPackage:
    needs: RunTest
    runs-on: ubuntu-22.04
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Download binary artifact
        uses: actions/download-artifact@v4
        with:
          name: built-program
          path: ./usr/bin  # Скачиваем в правильную структуру
      
      - name: Build .deb package
        run: |
          # Теперь структура правильная: ./usr/bin/hello существует
          dpkg-deb --build . ItalianCode.deb
      
      - name: Upload .deb artifact
        uses: actions/upload-artifact@v4
        with:
          name: deb-package
          path: "ItalianCode.deb"
          retention-days: 1
