name: CI Pipeline - Build Stage

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  RunMake:
    runs-on: ubuntu-22.04
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Install build dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential g++ make
      
      - name: Build program
        working-directory: ./src
        run: |
          makeubuntu-22.04
      
      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: built-program
          path: usr/bin/hello
          retention-days: 7

  RunTest:
    needs: RunMake
    runs-on: ubuntu-22.04
    
    steps:
      - uses: actions/checkout@v4
      
      - uses: actions/download-artifact@v4
        with:
          name: built-program
          path: ./usr/bin
      
      - run: chmod +x ./usr/bin/hello
      
      - name: Compile and run tests
        run: |
          make -C ./cicd

  RunPackage:
    needs: RunTest
    runs-on: ubuntu-22.04
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Download binary artifact
        uses: actions/download-artifact@v4
        with:
          name: built-program
          path: ./downloaded-binary
      
      - name: Build .deb package
        run: |
          mkdir -p ./temp_package
          cp -r ./DEBIAN ./temp_package/
          mkdir -p ./temp_package/usr/bin
          cp ./downloaded-binary/hello ./temp_package/usr/bin/
          chmod +x ./temp_package/usr/bin/hello
          dpkg-deb --build ./temp_package
          mv ./temp_package.deb myapp-${GITHUB_SHA::7}.deb
      
      - name: Upload .deb artifact
        uses: actions/upload-artifact@v4
        with:
          name: deb-package
          path: "*.deb"
          retention-days: 30
